# Node
node_modules/
dist/
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Test coverage
coverage/

# Build
*.tsbuildinfo

# Others
.idea/
*.swp
*.swo

# Nest CLI
.nest-cli.json
